 <div class="mdl-layout mdl-js-layout">
        <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <article class="demo-card-wide mdl-card mdl-shadow--2dp">
              <header class="mdl-card__title">
                <h1 class="mdl-card__title-text">Bem vindos/as ao CMail!</h1>
              </header>
        
              <form [formGroup]="formLogin" (submit)="Login()" autocomplete="off" class="mdl-card__supporting-text">
    
                <cmail-form-group [campo]="this.formLogin.get('email')">
                    <input  formControlName="email"
                            type="email" 
                            name="email" 
                            placeholder="Email"
                            cmailFormField />
                </cmail-form-group>
            
                <cmail-form-group [campo]="this.formLogin.get('senha')">
                    <input  formControlName="senha"
                            type="password" 
                            name="senha" 
                            placeholder="Senha"
                            cmailFormField />
                </cmail-form-group>
            
                <div *ngIf="isLoading">
                    <img src="assets/img/ajax-loader.gif" />
                </div>
            
        
                <div class="mdl-card__actions mdl-card--border">
                  <a routerLink="/cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Primeiro login? Cadastre-se!
                  </a>
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
                    Entrar
                  </button>
                </div>
              </form>
        
            </article>
          </div>
        </div>
        </main>
        </div>
